@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto:wght@400;900&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    background-color: #222244;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
}

.containerBoss{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.textContainer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textContainer p{
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    padding-bottom: 20px;
    margin-top: 20px;
}

p, label{
    font-size: 23px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.qualGenero{
    margin-bottom: 10px;
}

.dados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #3d3d7c;
    margin-top: 15px;
    width: 400px;
    border-bottom: solid 1px #93d186;
    padding: 5px 5px;
    border-radius: 10px;
}

#select{
    width: 200px;
    height: 30px;
}

#select-2{
    width: 200px;
    height: 30px;
    margin-top: 5px;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 200px;
}

input{
    width: 170px;
    height: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
}

button{
    width: 190px;
    height: 35px;
    margin-top: 15px;
    background-color: #93d186;
    border-radius: 20px;
    color: black;
    font-weight: 600;
    border: none;
    margin-bottom: 10px;
    font-size: 17px;
    transition: .3s;
    cursor: pointer;
}

button:hover{
    transform: scale(1.09);
    background-color: #4cdd2f;
}

.result{
    background-color: #3d3d7c;
    width: 800px;
    display: flex;
    align-items: center;
    height: 190px;
    border-radius: 10px;
    border-bottom: solid 1px #93d186;
    flex-direction: column;
    margin-top: 0px;
    padding: 0px 15px;
}

.result h3{
    margin-top: 10px;
}

.resultado{
    color: white;
    margin-top: 10px;
    font-weight: 900;
}

h3{
    color: white;
    margin-top: 0px;
    font-weight: 200;
}

h4{
    font-weight: 200;
}

#printResult{
    margin-top: 20px;
}

.info{
    display: flex;
    justify-content: start;
    flex-direction: column;
    color: white;
    background-color: #3d3d7c;
    margin: 5px 5px;
    width: 800px;
    border-bottom: solid 1px #93d186;
    padding: 15px 15px;
    border-radius: 10px;
}

.info h4{
    margin-top: 2px;
}

#btnClear{
    position: absolute;
    margin-top: 150px;
    margin-left: 610px;
}

/* MEDIA QUERY */

@media only screen and (max-width: 835px) {

    h1{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    label{
        
        font-size: 16px;
    }
    button{
        width: 100px;
        font-size: 10px;
    }
    .info{
        width: 385px;
    }
    .result{
        width: 385px;
    }
    #btnClear{
        margin-left: 300px;
    }
    h3{
        font-size: 15px;
    }
}

@media only screen and (max-width: 418px) {
    .dados{
        width: 300px;
    }
    .info{
        width: 285px;
    }
    .result{
        width: 285px;
    }
    #btnClear{
        margin-left: 200px;
    }
    button{
        width: 100px;
        font-size: 10px;
        height: 24px;
    }
}

@media only screen and (max-width: 318px) {
    .dados{
        width: 250px;
    }
    .info{
        width: 235px;
    }
    .result{
        width: 235px;
    }
    #btnClear{
        margin-left: 150px;
    }
    button{
        width: 100px;
        font-size: 10px;
        height: 24px;
    }
    h1{
        font-size: 18px;
        text-align: center;
    }
}
